<div class="modal fade" id="showClientModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">"Client"</h4>
      </div>
      <div class="modal-body">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">UUID
              <button type="button" class="btn btn-info btn-sm" data-dismiss="modal" id="updateClientUUID">Update</button>
            </h3>
          </div>
          <div class="panel-body" id='show_client_1_uuid'>
            <h4>Primary UUID</h3>
            <p>123123123123</p>
            <h4>Secondary UUID</h3>
            <p>123123123123</p>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Major ID - Locals
              <button type="button" class="btn btn-info btn-sm" data-dismiss="modal" id="updateClientMajorID">Update</button>
            </h3>
          </div>
          <div class="panel-body" id='show_beacon_major_id'>
            <% for(var i=0; i<clients_main[0].stores.length; i++) { %>
              <p><%= clients_main[0].stores[i].store_name%> - <%= clients_main[0].stores[i].major_id%></p>
            <% } %>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Minor ID - Areas
             <button type="button" class="btn btn-info btn-sm" data-dismiss="modal" id="updateClient">Update</button>
            </h3>
          </div>
          <div class="panel-body" id='show_beacon_minor_id'>-</div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal" id="updateClient">Update</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
      </div>
    </div>
  </div>
</div>
