<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li><a href="#">Add new Client</a></li>
  </ul>
  <ul class="nav nav-sidebar">
    <li><a href="#">FARMACITY</a></li>
    <li><a href="#">IRSA</a></li>
  </ul>
</div>
