<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <% for(var i=0; i<clients_side.length; i++) { %>
      <li><a href="/beacons/<%= clients_side[i]._id %>"><%= clients_side[i].name %></a></li>
    <% } %>
  </ul>
</div>
