<% include layout %>
<body>
<script>
  var jojo = <%= clients_main %>
</script>

<!-- Modal Add New Client -->
<% include partials/_add_new_client %>
<!-- Modal Show Beacon -->
<% include partials/_show_beacon %>
<!-- Modal Add New Beacon -->
<% include partials/_add_new_beacon %>
<!-- Modal Update Beacon -->
<% include partials/_update_beacon %>
<!-- Table -->
<% include partials/_table %>
</body>
</html>
