<% include layout %>
<body>
<!-- Modal Add New Client -->
<% include partials/_add_new_client %>
<!-- Modal Show Beacon -->
<% include partials/_show_beacon %>
<!-- Modal Add New Beacon -->
<% include partials/_add_new_beacon %>
<!-- Modal Update Beacon -->
<% include partials/_update_beacon %>
<!-- Modal Update Client -->
<% include partials/_show_client %>
<!-- Modal Add Major and Minor ID -->
<% include partials/_update_client %>
<!-- Table -->
<% include partials/_table %>

<script src='../javascripts/dashboard.js'></script>
</body>
</html>
