<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>MyAPI Search</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="../bootstrap-validator/dist/css/bootstrapValidator.min.css"/>
  <link rel="stylesheet" href="../bootstrap-validator-2/docs-assets/css/docs.css"/>
  <link rel="stylesheet" href="../bootstrap-validator-2/docs-assets/css/pygments-manni.css"/>
  <link rel="stylesheet" href="../stylesheets/dashboard.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="../jquery/jquery-1.11.1.min.js"></script>
  <script src="../bootstrap/js/bootstrap.min.js"></script>
  <script src="../bootstrap-validator/dist/js/bootstrapValidator.min.js"></script>
  <script src="../bootstrap-validator-2/dist/validator.min.js"></script>
  

</head>
