<% include layout %>

<body>
<h1>Show Beacon</h1>
<h3>UUID</h3>
<p><%= beacon.uuid %></p>
<h3>Major ID</h3>
<p><%= beacon.major_id %></p>
<h3>Minor ID</h3>
<p><%= beacon.minor_id %></p>
<h3>Content</h3>
<p><%= beacon.content %></p>

<a href='/beacons'>Back</a>

</body>
</html>
